@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title Me</h2>

<address>
    4/58 Leila Road <br />
    Carnegie, VIC 3163<br />
    <abbr title="Phone">P:</abbr>
    0481198900
</address>


<address>
    <strong>Got Queries:</strong>   <a href="mailto:admin@fitnessguru.com">admin@fitnessguru.com</a>
</address>